@font-face {
	font-family: "Space";
	font-display: swap;
	src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Edit Undo";
	font-display: swap;
	src: url("../fonts/editundo.woff2") format("woff2"), url("../fonts/editundo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
